body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-bold', sans-serif;
}

p {
  color: #8f8f8f;
}

/* Heading */
.big-heading {
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

.dog-image {
  border-radius: 10%;
  background-color: inherit;
}

/* sections */
.colored-section {
  background-color: #733C3C;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* navigation  */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
  padding-left: 90%;
}

/* download buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* title section*/
#title .container-fluid {
  padding: 3% 15% 5%;
  text-align: left;
}

.title-image {
  width: 22.5%;
  height: auto;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* features section */
#features {
  position: relative;
}

.feature-box {
  padding: 5%;
}

.feature-title {
  font-weight: 900;
  line-height: 1.5;
}

.icon {
  color: #733C3C;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #EF8172;
}

/* testimonial section */
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

/* footer section */
.social-icons {
  margin: 20px 10px;
}

.developer {
  text-decoration: none;
}

@media (max-width:991px), (min-width:992px) and (max-width:1128px) {
  .big-heading {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 60%
  }
  
  #title .container-fluid{
    text-align: center;
  }
}
